.share {
	position: relative;
	width: 100%;
	max-height: max-content;
	border-radius: 10px;
	background-color: var(--BGCOLORS); /* Set your desired background color */
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.829);
}

.share_hidden {
	transform: translateY(-100%); /* Move it out of view */
}

/* .shareWrapper {
	padding: 0 1rem 2rem 1rem;
} */
.shareTop {
	margin-left: 0.7rem;
	display: flex;
	align-items: center;
}

.shareProfileImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.shareInput {
	padding: 0.5rem;
	height: 60px;
	border: none;
	width: 85%;
	color: var(--COLOR);
	background-color: var(--BGCOLORS);
	border-bottom: 1px solid rgb(48, 47, 47);
	border-right: 1px solid rgb(48, 47, 47);
}

.shareInput::placeholder {
	color: rgb(113, 112, 112);
}

.shareInput:focus {
	outline: none;
}

.shareHr {
	margin: 1.5rem 0.5rem;
	border: 1px solid rgb(26, 26, 26);
	width: 96%;
}

.shareBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shareOptions {
	display: flex;
	margin-left: 20px;
}

.shareOption {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.fileInput {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.shareIcon {
	font-size: 18px;
	margin-right: 3px;
}

.shareOptionText {
	font-size: 14px;
	font-weight: 500;
}

.shareButton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	font-size: 13px;
	padding: 0.5rem 1rem;
	background: linear-gradient(135deg, rgb(78, 77, 77), #121212);
	box-shadow: 0 4px 6px rgba(249, 248, 248, 0.228);
	color: #fff;
	border: 1px solid gray;
	border-radius: 3px;
	cursor: pointer;
}

.filePreview {
	position: absolute;
	max-width: 100%;
	top: 180px;
	left: 0;
	right: 0;
	flex-wrap: wrap;
	padding: 0.5rem 1rem;
	background: linear-gradient(135deg, rgb(52, 51, 51), #121212);
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px rgba(249, 248, 248, 0.228);
}

.previewList {
	max-width: max-content;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.filePreview_imgage {
	position: relative;
	background-color: rgb(83, 82, 82);
	padding: 0.3rem;
}

.filePreview_img {
	width: 6rem;
	height: 7rem;
}

.removeFileButton {
	position: absolute;
	right: 3px;
	top: 0px;
	background: none;
	background-color: rgb(83, 82, 82);
	border: none;
	padding: 1px;
	border-radius: 50%;
}

@media screen and (max-width: 320px) {
	.shareOptionText {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.shareOptionText {
		display: none;
	}
}
