.postComment::-webkit-scrollbar {
	width: 2px;
	display: none;
}

::-webkit-scrollbar-track {
	background-color: #454444;
}

::-webkit-scrollbar-thumb {
	background-color: #454444;
}

.comment {
	width: 375px;
	background-color: var(--BLACKCOL);
	padding-bottom: 0.3rem;
}

.comment_hr {
	width: 100%;
	height: 1px;
	border: none;
	background-color: rgb(54, 54, 54);
}

.comment_item {
	width: 100%;
	padding: 0.5rem 1rem 1rem 1rem;
	border-radius: 0.3rem;
	padding-right: 0.3rem;
}

.comment_span {
	display: flex;
	align-items: center;
	width: 100%;
	height: 30px;
	background-color: var();
	background-color: var(--BLACKCOL);
	padding: 0.2rem 0.02rem 0.2rem 0.2rem;
	margin-bottom: 0.2rem;
}

.post_comment_wrapper {
	width: 370px;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: rgb(15, 15, 15);
	overflow-y: scroll;
	max-height: 34vh;
}

.comment_inputs {
	position: relative;
	position: sticky;
	width: 100%;
	max-height: 90px;
	background-color: #292929;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	z-index: 10;
	top: 300px;
}

.comment_file_input {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.comment_input_container {
	display: flex;
	align-items: center;
	min-width: 80%;
	min-height: 60px;
}

.comment_input {
	min-width: 85%;
	min-height: 50px;
	max-height: 50px;
	padding: 0.5rem;
	background-color: var(--BGCOLORS);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.829);
	color: #fff;
	outline: none;
	border: 1px 0 1px 0 solid rgb(71, 70, 70);
	border-radius: 0.3rem;
}

.comment_button {
	padding: 0.2rem 0.4rem;
	background: linear-gradient(135deg, rgb(67, 67, 67), #121212);
	box-shadow: 0 4px 6px rgba(249, 248, 248, 0.228);
	border-radius: 0.2rem;
	color: #cac9c9;
	cursor: pointer;
}

.comment_PostComemnt {
	margin-top: 1rem;
	border-bottom: 1px solid rgb(179, 178, 178);
}

.comment_userProfile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postUsername {
	display: flex;
}

.comment_post_profile {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.comment_img_container_multiple,
.comment_img_container_triple {
	min-width: 100%;
	max-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.comment_img_container_double,
.comment_img_container_four {
	min-width: 100%;
	max-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
}

.comment_img_container_single {
	border-radius: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.comment_Media {
	width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
}

.comment_image {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 80%;
	max-height: 80;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
}

/* Define a common size for media items */
.comment_item {
	width: 100%; /* Adjust to desired width */
	height: auto; /* Maintain aspect ratio */
	max-width: 100%; /* Ensure it doesn’t exceed container */
}

.comment_item_double > * {
	border: 1px solid red;
	width: 230px;
	height: 230px;
	margin: 1px;
}
.comment_item_triple > * {
	width: 162px;
	height: 220px;
	margin: 1px;
}
.comment_item_four > * {
	width: 220px;
	height: 220px;
	margin: 1px;
}
.comment_item_five > * {
	width: 162px;
	height: 220px;
	margin: 1px;
}
.comment_item_six > * {
	width: 162px;
	height: 220px;
	margin: 1px;
}

.comment_item {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.comment_img_double {
	width: 250px;
	height: 250px;
	margin: 1px;
}

.comment_img_trepple {
	width: 195px;
	height: 195px;

	margin: 1px;
}

.comment_img_four {
	width: 251px;
	height: 200px;
	margin: 1px;
}

/* .comment_main {
	margin-top: 1.5rem;
} */
.comment_colunm {
	margin-top: 1rem;
	width: 100%;
	display: grid;
	border-bottom: 1px solid rgb(85, 84, 84);
	margin-bottom: 1rem;
}

.comment_username_container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.comment_username_name {
	color: rgb(84, 83, 83);
	font-size: 20px;
}

.comment_items {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.comment_flex {
	width: 100% !important;
	display: flex;
	align-items: center;
	justify-content: space-between !important;
	margin-bottom: 0.5rem;
}

.comment_date {
	font-size: 10px;
	font-weight: 300;
	color: rgb(170, 168, 168);
}

.comment_time_date {
	font-size: 13px;
	font-weight: 200;
	color: rgb(170, 168, 168);
}

.comment_name {
	letter-spacing: 1.5px;
	font-weight: 700;
	font-size: 14px;
	font-weight: 300;
	color: rgb(202, 198, 198);
}

.comment_text {
	/* margin-left: 2.5rem; */
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	margin-bottom: 1rem;
}

.comment_title {
	font-size: 13px;
	font-weight: 300;
	color: rgb(170, 168, 168);
	margin-bottom: 0.3rem;
}

.comment_img {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer; /* Ensure cursor changes on hover */
}

.commment_text_comment {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	color: #fff;
	cursor: pointer;
	margin-right: 10px;
}

.comment_icons {
	color: #fff;
	font-size: 20px;
}

.comment_filePreview {
	position: absolute;
	max-width: max-content;
	bottom: 70px;
	left: 0;
	right: 0;
	flex-wrap: wrap;
	padding: 0.5rem;
}

.comment_previewList {
	max-width: 87%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.comment_filePreview_imgage {
	position: relative;
	background-color: rgb(83, 82, 82);
	padding: 0.3rem;
}

.comment_filePreview_img {
	width: 6rem;
	height: 7rem;
}

.comment_removeFileButton {
	position: absolute;
	right: 3px;
	top: 0px;
	background: none;
	background-color: rgb(83, 82, 82);
	border: none;
	padding: 1px;
	border-radius: 50%;
}

.comment_child_comment_like {
	display: flex;
	align-content: inherit;
	justify-content: space-between;
	padding: 0.5rem;
}

.comment_child_icon {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.comment_child_icons {
	cursor: pointer;
	font-size: 19px;
	color: #929090;
}
.comment_child_text {
	cursor: pointer;
	font-size: 10px;
	color: #6c6b6b;
}
