.post {
	width: 100%;
	min-height: 20%;
	border-radius: 10px;
	background-color: var(--BGCOLORS);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.829);
	margin: 0.5rem 0;
	z-index: 0;
}

.postWrapper {
	position: relative;
	padding: 0.2rem;
}

.postTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postTopLeft {
	display: flex;
	align-items: center;
}

.postProfileImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid rgb(90, 89, 89);
	padding: 0.1rem;
}

.postUsername {
	font-size: 20px;
	font-weight: 500;
	margin: 0 10px;
}

.postDate {
	font-size: 17px;
	font-weight: 200;
	color: rgb(170, 168, 168);
}

.postCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.postText_container {
	width: 100%;
}

.postText {
	margin: 0.5rem 0 0.5rem 0;
	font-size: 20px;
	font-weight: 200;
	color: #fff;
}

.postBottom {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.PostComment_container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(15, 15, 15);
	height: 65vh;
	z-index: 1;
	bottom: -280px;
	right: 5px;
	top: 2rem;
}

.commment__toggle {
	max-width: max-content;
	display: flex;
	position: absolute;
	align-items: center;
	right: 0;
}

.postBottomLeft {
	position: relative;
	display: flex;
	align-items: center;
	background-color: var(--BGCOLORS);
}

.likersDropdown {
	width: 300px;
	position: absolute;
	bottom: 25px;
	background-color: var(--BGCOLORS);
}

.likersDropdown_item {
	background-color: var(--BLACKCOL);
	overflow-y: scroll;
	max-height: 29vh;
	padding: 0.5rem 1rem 1rem 1rem;
	border-radius: 0.3rem;
}

.likersDropdown_title {
	margin: 0.5rem 0 0.5rem 0;
	font-size: 20px;
	font-weight: 200;
	color: rgb(170, 168, 168);
}

.likeDropdown_name {
	font-size: 13px;
	font-weight: 300;
	color: rgb(170, 168, 168);
}

.likeDropdown_list {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 0.5rem;
}

.likeDropdwon_name_img {
	flex: 80%;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.likeDropdown_friend_request_btn {
	flex: 20%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.likeDropdown_img {
	width: 1.5rem;
	height: 1.5rem;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer; /* Ensure cursor changes on hover */
}

.likeDropdown_hr {
	border: none;
	width: 98%;
	height: 1px;
	background-color: rgb(57, 55, 55);
	margin-top: 0.5rem;
}

.postLikeCounter {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.postLikeCounter_icons {
	font-size: 24px;
}

.likeIcon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
}

.postLikeCounter {
	font-size: 15px;
}

.postCommentText {
	cursor: pointer;
	border-bottom: 1px dashed gray;
	margin: 0.5rem 0 0.5rem 0;
	font-size: 17px;
	font-weight: 200;
	color: rgb(170, 168, 168);
}

/* New CSS for Photo Viewer Modal */
.photoViewerModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000 !important; /* Ensure it's above other content */
	flex: 12;
}

.expandedPhoto {
	max-width: 100%;
	max-height: 80%;
	object-fit: contain;
}

.closeButton {
	position: absolute;
	top: 30px;
	right: 30px;
	padding: 10px;
	background-color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	z-index: 10000;
}

@media screen and (max-width: 768px) {
	.post {
		max-width: 100%;
		min-height: 20%;
		border-radius: 10px;
		background-color: var(--BGCOLORS);
		box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.829);
		margin: 0.5rem 0;
		z-index: 0;
	}
}

@media screen and (max-width: 480px) {
	.post {
		max-width: 100%;
		min-height: 20%;
		margin: 1.5rem 0 0.5rem 0;
		padding: 0;
		z-index: 0;
	}

	.postWrapper {
		position: relative;
		padding: 0;
	}

	.postProfileImg {
		border-radius: 50%;
		object-fit: cover;
		border: 2px solid rgb(90, 89, 89);
		padding: 0.1rem;
	}

	.postMediaContainer {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		padding: 0;
	}

	.PostComment_container {
		display: none;
		position: absolute;
		max-width: 280px;
		z-index: 1;
		max-height: 300px;
		bottom: -240px;
		right: 5px;
	}
}

@media screen and (max-width: 320px) {
	.post {
		max-width: 95%;
		min-height: 20%;
		margin: 1.5rem 0 0.5rem 0;
		padding: 0;
		z-index: 0;
	}

	.postWrapper {
		position: relative;
		padding: 0;
	}

	.postProfileImg {
		border-radius: 50%;
		object-fit: cover;
		border: 2px solid rgb(90, 89, 89);
		padding: 0.1rem;
	}

	.postMediaContainer {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		padding: 0;
	}

	.PostComment_container {
		display: none;
		position: absolute;
		max-width: 280px;
		z-index: 1;
		max-height: 300px;
		bottom: -240px;
		right: 5px;
	}
}
