.feed {
	position: relative;
	flex: 5.5;
	height: 78vh;
	overflow-y: scroll;
	top: 0;
	position: sticky;
	padding: 0.5rem;
	z-index: 0;
	padding-bottom: 4rem;
}

.feed::-webkit-scrollbar {
	width: 3px;
	display: none;
}

.feed::-webkit-scrollbar-track {
	background-color: #5e5c5c;
}

.feed::-webkit-scrollbar-thumb {
	background-color: var(--BGCOLORS);
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
