.home {
	height: 78vh;
	margin-top: 0;
	padding-bottom: 2rem;
}

.home_wrap {
	margin-top: -20px;
	display: flex;
	align-items: center;
}

.home_left {
	flex: 3.3;
}

.home_feed {
	flex: 5.5;
}

.home_right {
	flex: 3.2;
}

@media screen and (max-width: 900px) {
	.home_left {
		flex: 3.3;
		display: none;
	}

	.home_right {
		flex: 3.2;
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.home {
		min-height: 50vh;
		padding-bottom: 0;
	}
	.home_left {
		flex: 3.3;
		display: none;
	}

	.home_right {
		flex: 3.2;
		display: none;
	}
}
