.rightbar {
	flex: 3.2;
	position: sticky;
	top: 0;
	height: 78vh;
	overflow-y: scroll;
	top: 30px;
}

.rightbarButton {
	margin-bottom: 1rem;
}

.rightbar::-webkit-scrollbar {
	display: none;
	width: 3px;
}

.rightbar::-webkit-scrollbar-track {
	background-color: #5e5c5c;
}

.rightbar::-webkit-scrollbar-thumb {
	background-color: var(--BGCOLORS);
}

.rightbarWrapper {
	padding: 20px 10px 0 10px;
}

.birthdayContainer {
	display: flex;
	align-items: center;
}

.birthdayImg {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	color: var(--INPUT-INVALID);
}

.birthdayText {
	font-weight: 300;
	font-size: 15px;
}

.rightbarAd {
	width: 100%;
	border-radius: 10px;
	margin: 30px 0;
}

.rightbarTitle {
	margin: 1rem 0 1rem 0;
}

.rightbarFriendList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.rightbarTitle {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 10px;
	letter-spacing: 1px;
	color: #d2d0d0;
}

.rightbarInfo {
	margin-bottom: 30px;
}

.rightbarInfoItem {
	margin-bottom: 10px;
}

.rightbarInfoKey {
	font-weight: 500;
	margin-right: 15px;
	color: #555;
	font-size: 15px;
}

.rightbarInfoValue {
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
	color: #d2d0d0;
}

.rightbarFollowings {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.rightbarFollowing {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.rightbarFollowingImg {
	width: 130px;
	height: 130px;
	object-fit: cover;
	border-radius: 5px;
}

.carousel_wrap {
	position: relative;
	z-index: -1;
	width: 100%; /* Ensure the carousel takes up the full width */
	overflow: hidden; /* Hide overflow to prevent showing partial next images */
}

.carousel .carousel-slide {
	max-width: 100%; /* Ensure image does not exceed carousel width */
	height: 80%; /* Maintain the aspect ratio of the image */
	margin: 0 auto; /* Center image if necessary */
	display: flex; /* Use flexbox to center the image */
	justify-content: center; /* Center the image horizontally */
	align-items: center; /* Center the image vertically */
	transition: opacity 1s ease-in-out; /* Add a transition for smooth fading */
}

.carousel_img {
	max-width: 100%; /* Ensure image does not exceed carousel width */
	height: 80%; /* Maintain the aspect ratio of the image */
	margin: 0 auto; /* Center image if necessary */
}

.fade-out {
	animation: fadeOut 1s ease-out;
}

.carousel-slide.fade-out {
	opacity: 0;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
